html{
    background: #e3e3e3
}

body{

    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    padding: 40px;
    color:#242424;
    border-top: 10px solid #242424;
    background: #fff;
}

img{
    width:100%;
}

h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.4em;
    width: 500px;
}

#blog{
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom:  1px solid #ccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.nav-bar{
    background-color: #333;
}


.nav-item {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.contact{
    line-height: 1.4em;
}

table {
    border-collapse: collapse;
  }

table, th, td {
    border: 1px solid;
    padding: 3px;
    margin-top: 15px;
}

li[class~="interest"]{
    font-style: italic;
}

nav{
    position: sticky;
    top: 0;
}

#blog{
    display: flex;
}

.blog-post{
    margin: 50px;
}

.img-container {
    float: left;
    width: 200px;
    margin: 0 10px 0px 0px;
    text-align: center;
}

@media screen and (max-width: 400px) {

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 110px;
      }
      
    li a {
        display: block;
    }

    p{
        width: 250px;
    }

    #blog{
        flex-direction: column;
    }

    .img-container {
        float: none;
    }
  }